<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdfl.informationservice.entity.mapper.TaskStaffInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.gdfl.informationservice.entity.entity.model.TaskStaffInfoEntityModel" >
    <id column="id" property="id" />
    <result column="task_number" property="taskNumber" />
    <result column="task_type" property="taskType" />
    <result column="staff_id" property="staffId" />
    <result column="post_id" property="postId" />
    <result column="post_name" property="postName" />
    <result column="org_id" property="orgId" />
    <result column="org_name" property="orgName" />
    <result column="complete_status" property="completeStatus" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_number, task_type, staff_id, post_id, post_name, org_id, org_name, complete_status, 
    create_time
  </sql>
  <update id="deleteById" parameterType="java.lang.Integer" >
    update task_staff_info
    record_state = 0
    where id = #{id}
  </update>
  <insert id="insert" parameterType="com.gdfl.informationservice.entity.entity.model.TaskStaffInfoEntityModel" useGeneratedKeys="true" keyProperty="id" >
    insert into task_staff_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskNumber != null" >
        task_number,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="postName != null" >
        post_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="completeStatus != null" >
        complete_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="taskNumber != null" >
        #{taskNumber},
      </if>
      <if test="taskType != null" >
        #{taskType},
      </if>
      <if test="staffId != null" >
        #{staffId},
      </if>
      <if test="postId != null" >
        #{postId},
      </if>
      <if test="postName != null" >
        #{postName},
      </if>
      <if test="orgId != null" >
        #{orgId},
      </if>
      <if test="orgName != null" >
        #{orgName},
      </if>
      <if test="completeStatus != null" >
        #{completeStatus},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
    </trim>
  </insert>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id ,task_number ,task_type ,staff_id ,post_id ,post_name ,org_id ,org_name ,complete_status ,create_time
    from task_staff_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="update" parameterType="com.gdfl.informationservice.entity.entity.model.TaskStaffInfoEntityModel" >
    update task_staff_info
    <set >
      <if test="taskNumber != null" >
        task_number = #{taskNumber},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId},
      </if>
      <if test="postId != null" >
        post_id = #{postId},
      </if>
      <if test="postName != null" >
        post_name = #{postName},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName},
      </if>
      <if test="completeStatus != null" >
        complete_status = #{completeStatus},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>