<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.easypoi.springbooteasypoi.dao.ContractDetailMapper">

    <insert id="batchInsertMember" parameterType="java.util.List">
        insert into contract_detail(contract_number,
        contract_amount)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.contractNumber},
            #{item.contractAmount}
            )
        </foreach>
    </insert>


</mapper>